.SkillsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(clamp(9.375rem, 7.67rem + 8.52vw, 14.063rem), 1fr));
    row-gap: 2rem;
    justify-items: center;
    width: 100%;
    margin-bottom: 2rem;
    /* padding-left: min(3rem, 3%);
    padding-left: min(3rem, 3%); */
}

.icons {
    filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.4));
    color: rgb(136, 69, 135);
}

.EducationGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    row-gap: 2rem;
    margin: 3rem 0px;
    padding-left: min(5rem, 5%);
    padding-right: min(5rem, 5%);
}

.EducationGrid div:not(.desc) {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.qualification {
    grid-area: 1 / 1 / 2 / -1;
    text-align: center;
    font-size: clamp(0.75rem, 0.477rem + 1.36vw, 1.5rem);
}

.facility {
    grid-area: 2 / 1 / 3 / 2;
    font-size: clamp(0.75rem, 0.568rem + 0.91vw, 1.25rem);
    justify-items: center;
}

.date {
    grid-area: 2 / 2 / 3 / 3;
    font-size: clamp(0.75rem, 0.568rem + 0.91vw, 1.25rem);
}

.location {
    grid-area: 2 / 3 / 3 / -1;
    font-size: clamp(0.75rem, 0.568rem + 0.91vw, 1.25rem);
}

.desc {
    grid-area: 3 / 1 / 4 / -1; 
    text-align: justify !important; 
    font-size: clamp(1rem, 0.909rem + 0.45vw, 1.25rem);
}