.SkillsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(clamp(9.375rem, 7.67rem + 8.52vw, 14.063rem), 1fr));
    row-gap: 2rem;
    justify-items: center;
    width: 100%;
    margin-bottom: 2rem;
    /* padding-left: min(3rem, 3%);
    padding-left: min(3rem, 3%); */
}

.icons {
    filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.4));
    color: rgb(136, 69, 135);
}