.introDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "BBH Hegarty", sans-serif;
    font-size: clamp(1.3rem, 1.045rem + 1.27vw, 2rem);
    color: hsl(0, 0%, 95%);
    height: 70%;
    min-width: 75%;
    background-color: hsl(0, 0%, 93%);
    border-radius: 10px;
    /* text-shadow: 2px 2px 4px rgba(0,0,0,0.7); */
    box-shadow: none;
    /* transition: box-shadow 1s ease; */
    padding: min(1.5rem, 5%);
}

.introDisplay h1, .introDisplay h3 {
    margin: 5px 0;
}

.scrollContainer {
    position: relative;
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    background-color: hsl(0, 0%, 93%);
    border-radius: 10px;
    /* box-shadow: inset 0px 2px 8px var(--cta-btn), inset 2px 0px 8px rgba(204, 0, 204, 0.7); */
    overflow: hidden;
}

.scrollOverlay {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.5;
    box-shadow: inset 0px 2px 12px var(--cta-btn), inset 2px 0px 12px rgba(204, 0, 204, 0.7);
    z-index: 1;
}

.infiniteScroll {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: 75%;
    animation: scroll 20s linear infinite;
}

.items {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    font-size: clamp(5rem, 3.182rem + 9.09vw, 10rem);
    color: hsl(0, 0%, 85%);
    text-align: center;
    z-index: -1;
}

@keyframes scroll {
    0% {transform: translateX(0);}
    100% {transform: translateX(-50%);}
}

.ctaBtn {
    font-size: 1.1rem;
    min-width: 150px;
    padding: 0.5rem 1rem;
    color: var(--font-primary);
    border: 2px solid var(--font-primary);
    /* background-color: var(--cta-secondary); */
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease;
}

.ctaBtn:hover {
    color: var(--cta-secondary);
    border: 2px solid var(--cta-secondary);
    transform: scale(1.05);
}

.icon {
    color: hsl(0, 0%, 85%);
    width: 10rem;
  height: 10rem;
}

.iconTwo {
    color: hsl(0, 0%, 85%);
    width: 15rem;
  height: 15rem;
  transform: translateY(-30%) translateX(25%);
}