.barsContainer {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 30px;
    width: 40px;
    padding: 3px;
    cursor: pointer;
}

.bars {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #4D054C;
    margin-top: 5px;
    border-radius: 10px;
    transition: 0.7s;
}

.open span:nth-child(1) {transform: rotate(-405deg) translate(-10px, 3px); background-color: hsl(300, 100%, 40%);}
.open span:nth-child(2) {opacity: 0;}
.open span:nth-child(3) {transform: rotate(405deg) translate(-10px, -3px); background-color: hsl(300, 100%, 40%);}

.menu,
.menuOpen {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 100vh;
    background-color: var(--body-color);
    transition: transform 0.5s ease;
}

.menu {
    transform: translateX(100%);
    box-shadow: none;
}

.menuOpen {
    transform: translateX(0);
    box-shadow: -5px 0 20px rgb(204, 0, 204, 0.3);
    transition:
        transform 0.5s ease,
        box-shadow 1.5s ease;
}

.menu ul,
.menuOpen ul {
    padding: 0;
}

.menu li,
.menuOpen li {
    transform: translatex(200%);
    transition:
        transform 1500ms ease;
    list-style-type: none;
    margin-top: 20px;
}

.menu li a,
.menuOpen li a {
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    color: #4D054C;
    transition: transform 0.2s ease;
    transform-origin: right;
}

.menuOpen li a:hover {
    color: hsl(300, 100%, 40%);
    transform: scale(1.1);
}

.menuOpen li:nth-child(1) {transform: translateX(0); transition-delay: 0.2s;}
.menuOpen li:nth-child(2) {transform: translateX(0); transition-delay: 0.5s;}
.menuOpen li:nth-child(3) {transform: translateX(0); transition-delay: 0.8s;}

.menuOpen li a.active,
.menu li a.active {
    color: hsl(300, 100%, 40%);
    animation: 
        navbounce 3s infinite cubic-bezier(.5, 0, .5, 1),
        navpulse 1.5s infinite ease-in-out;
}

@keyframes navbounce {
    0% {transform: translate(-2px, -1px);}
    25% {transform: translate(0, 0);}
    50% {transform: translate(2px, -1px);}
    75% {transform: translate(0, 0);}
    100% {transform: translate(-2px, -1px);}
}

@keyframes navpulse {
  0%   { color: hsl(300, 100%, 40%); }
  50%  { color: hsl(300, 100%, 60%); }
  100% { color: hsl(300, 100%, 40%); }
}