.barsContainer {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 30px;
    width: 40px;
    padding: 3px;
    cursor: pointer;
}

.bars {
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--font-color);
    margin-top: 5px;
    border-radius: 10px;
    transition: 0.7s;
}

.open span:nth-child(1) {transform: rotate(-405deg) translate(-10px, 3px); background-color: hsl(300, 100%, 40%);}
.open span:nth-child(2) {opacity: 0;}
.open span:nth-child(3) {transform: rotate(405deg) translate(-10px, -3px); background-color: hsl(300, 100%, 40%);}

.menu,
.menuOpen {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 100vh;
    background-color: var(--body-color);
    transition: transform 0.5s ease;
}

.menu {
    transform: translateX(100%);
    box-shadow: none;
}

.menuOpen {
    transform: translateX(0);
    box-shadow: -5px 0 20px hsl(300, 100%, 40%);
    transition:
        transform 0.5s ease,
        box-shadow 1.5s ease;
}

.menu ul,
.menuOpen ul {
    padding: 0;
}

.menu li,
.menuOpen li {
    transform: translatex(200%);
    transition:
        transform 1500ms ease;
    list-style-type: none;
    margin-top: 20px;
}

.menu li a,
.menuOpen li a {
    text-decoration: none;
    font-size: 2rem;
    color: var(--font-color);
}

.menuOpen li a:hover {
    color: hsl(300, 100%, 40%)
}

.menuOpen li:nth-child(1) {transform: translateX(0); transition-delay: 0.2s;}
.menuOpen li:nth-child(2) {transform: translateX(0); transition-delay: 0.5s;}
.menuOpen li:nth-child(3) {transform: translateX(0); transition-delay: 0.8s;}